@charset "utf-8";

body{
    background: lightblue;
}

header, article, section, footer{
    border: 1px solid black;
}
main{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    background: white;
}
nav li{
    background: cornflowerblue;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 1px solid gray;
}

nav ul{
    padding:20px
}
nav li{
    text-decoration: none;
}
/*nav{
    margin: 0px;
    padding: 0px;
}

nav li {
    font-size: 20px;
    list-style-type: none;
    text-align: left;
}
nav ul {
   border: 1px solid black;
   
   background: cornflowerblue;
}*/

article{
    margin: 30px;

}
article h2{
    text-align:center;

}
article p{
    text-align: justify;
    padding: 5px;
}

#section{
    height: 300px;
    padding:20px;
}
.kepek{
    width: 200px;
    height: 100px;
    padding: 30px;
}

#betolt{
    margin: 20px;
    font-size: 20px;
}
button.button#angol, button.button#nemet
{
    border: 10px solid red;
    width:400px;
    height:200px;
    margin: 10px; 
}



.tartalom{
    border: 1px solid gray;
    padding: 20px;
    margin: 10px;
}

#general{
    text-align: center;
}